:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  max-height: 320px;
  margin-top: 42px;
  margin-bottom: 22px;
  margin-left: 12px;
}

.footer-tittles {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 200px;
}

.footer-icons-socialmedia {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer-icons-localization {

}